package ${package}.dao;

import ${package}.model.${className};


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper {

	int deleteByPrimaryKey((${pk.attrType} id);
	
	int insert(${className} record);
	 
	int insertSelective(${className} record); 
	
	${className} selectByPrimaryKey((${pk.attrType} id);
	
	int updateByPrimaryKeySelective(${className} record);

	int updateByPrimaryKey(${className} record);
	 
	
}
