package ${package}.service;
import org.springframework.stereotype.Repository;
import org.springframework.beans.factory.annotation.Autowired;
import ${package}.dao.${className}Dao;
import ${package}.domain.${className}DO;
import ${package}.domain.${className}VO;
import ${package}.qvo.${className}Query;
import java.util.List;
import java.util.Map;
import com.ybg.base.jdbc.BaseMap;
import com.ybg.base.util.Page;



@Repository
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	 /** 返回主键的创建
	 * 
	 * @throws Exception **/
	public ${className}VO save(${className}VO bean) throws Exception{
	return ${classname}Dao.save(bean);
	
	}
	
	/** 更新数据，条件 和 需要更新的字段都不能为空 不限个数个条件
	 * 
	 * @author Deament
	 * @param updatemap
	 *            需要更新的字段和值
	 * @param wheremap
	 *            更新中的条件字段和值
	 * @param table_name
	 *            表的名称 **/

	@Override
	public	void update(BaseMap<String, Object> updatemap, BaseMap<String, Object> wheremap){
		${classname}Dao.update(updatemap,wheremap);
	}
	
	/** 分页查询 **/
	@Override
	public	Page list(Page page,${className}Query qvo)throws Exception{
		return ${classname}Dao.list(page,qvo);
	}
	
	/** 不分页查询 **/
	@Override
	public	List<${className}VO> list(${className}Query qvo) throws Exception{
		return ${classname}Dao.list(qvo);
	}
	/** 根据条件删除 **/
	public void remove(BaseMap<String, Object> wheremap){
		${classname}Dao.remove(wheremap);
	}
	public ${className}VO get(${pk.attrType} id){
		return 	${classname}Dao.get(id);
	}
}
