package ${package}.service;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.ui.ModelMap;
import com.weiweb.core.mybatis.BaseMybatisDao;
import com.weiweb.core.mybatis.page.Pagination;

import ${package}.dao.${className}Dao;
import ${package}.model.${className};
import ${package}.bo.${className}BO;
import ${package}.service.${className}Service;

import java.util.List;
import java.util.Map;




@Service
public class ${className}ServiceImpl extends BaseMybatisDao<${className}Mapper> implements ${className}Service {
	@Autowired
	private ${className}Mapper ${classname}Mapper;
	
	
	@Override
	public int deleteByPrimaryKey(${pk.attrType} id) {
		return ${classname}Mapper.deleteByPrimaryKey(id);
	}
	
	@Override
	public int insert(${className} record) {
		return ${classname}Mapper.insert(record);
	}
	
	@Override
	public int insertSelective(${className} record) {
		return ${classname}Mapper.insertSelective(record);
	}
	
	@Override
	public ${className} selectByPrimaryKey(${pk.attrType} id) {
		return ${classname}Mapper.selectByPrimaryKey(id);
	}

	@Override
	public int updateByPrimaryKey(${className} record) {
		return ${classname}Mapper.updateByPrimaryKey(record);
	}

	@Override
	public int updateByPrimaryKeySelective(${className} record) {
		return ${classname}Mapper.updateByPrimaryKeySelective(record);
	}

	
	@Override
	public Pagination<${className}> findPage(Map<String, Object> resultMap,
			Integer pageNo, Integer pageSize) {
		return super.findPage(resultMap, pageNo, pageSize);
	}
	
	
}
