package ${package}.service;

import ${package}.model.${className};
import ${package}.bo.${className}BO;
import java.util.List;
import java.util.Map;
import java.util.Set;

import org.springframework.ui.ModelMap;

import com.weiweb.core.mybatis.page.Pagination;


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    Pagination<${className}> findPage(Map<String, Object> resultMap,
			Integer pageNo, Integer pageSize);
	
	
	int deleteByPrimaryKey(${pk.attrType} id);
	
	
	int insert(${className} record);
	
	int insertSelective(${className} record);
		
	${className} selectByPrimaryKey(${pk.attrType} id);
	
	
	int updateByPrimaryKeySelective(${className}  record);

    int updateByPrimaryKey(${className}  record);
	
	boolean delete${className}ByIds(String[] arryids);
	
	 
	
	 
}
