.tree_table .default_node, .tree_table .default_active_node {width:16px;height:16px;border: medium none; margin: 0; padding: 0;display: inline-block;}
.tree_table .default_active_node {cursor: pointer;}
.tree_table .default_open, .tree_table .default_last_open{background:url(./icon.png) no-repeat -13px -21px;width:20px;height: 15px;}
.tree_table .default_shut, .tree_table .default_last_shut{background:url(./icon.png) no-repeat -37px -21px;width:20px;height: 15px;}
.tree_table .default_last_leaf,.tree_table .default_leaf{
	background:url(./icon.png) no-repeat -59px -21px;width:16px;height: 15px;
}
.tree_table .default_hover_open, .tree_table .default_hover_last_open{background:url(./icon.png) no-repeat -13px -21px;width:20px;height: 15px;}
.tree_table .default_hover_shut, .tree_table .default_hover_last_shut{background:url(./icon.png) no-repeat -37px -21px;width:20px;height: 15px;}
